<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feminism in Modern Culture</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img class="moveimagedownandleft" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12686956,width%3D178,height%3D178.png">
        </div>
        <div class="col-md-8">
          <p class="text-center font movetextdown">LadyLike</p>
        </div>
        <div class="col-md-2">
          <img class="moveimagedownandright" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12686956,width%3D178,height%3D178.png">
        </div>
      </div>
      <hr class=hr>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <p class="text-center font3">Culture</p>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 font4">
          <ul>
            <li>Feminism in Music:
          </ul>
        </div>
        <div class="col-md-4">
          <img src="https://67.media.tumblr.com/160eebdead31c24b7a0aaecbcfd1c53b/tumblr_nr100wK9Cg1u6svllo1_500.gif"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p class="font5 movetextup">Sexism has become a more prevalent topic as time progressses, and more female artists are beginning to incorporate powerful feminist messages into their work.  Popular artists such as Beyonce, Taylor Swift, Selena Gomez, and a numerous amount of others have begun to boldy express their views on gender equality in an attempt to bring more attention to the problem as well as to counter sexist/rape culture that is prevalent in many popular rap/pop songs (i.e. Robin Thicke's 2013 hit song, "Blurred Lines").</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 movetextup font5">
            <a href="http://www.bustle.com/articles/131993-7-feminist-songs-released-in-2015-that-everyone-should-listen-to-before-the-year-is-over">Click for empowering songs!</a>
          </div>
          <div class="col-md-4">
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-8 font4 movetextup">
            <ul>
              <li>Feminism in Literature/Films:
            </ul>
            <p class="font5">In the past, literature and films are based around the idea of a woman's needing to be saved by a man. As of recently, authors and screenwriters are depicting strong female characters as brave leaders, in some instances saving the male characters. Large companies, such as Disney, have released movies with strong feminist messages directed towards the young, female audience (i.e. Frozen, Mulan, The Hunger Games).</p>
            <a class="font5"href="http://www.dailygamecock.com/article/2016/03/books-for-womens-history-month">Click for feminist books!</a>

          </div>
          <div class="col-md-4 moveimageup">
            <img src="http://www.confusedsandals.com/wp-content/uploads/2015/10/emma-3.jpg"/>
          </div>
        </div>
        <div class="row"><br>
          <div class="col-md-8 font4 movetextup">
            <ul>
              <li>Feminism in the Media/Politics:
            </ul>
            <p class="font5">Feminism has become more and more prevalent within the realm of media and politics as more women step up to take public positions.  This year, specifically, we have seen the first female presidential nominee, Hillary Clinton, and potentially the first female president of the United States.  With large social media platforms, such as Twitter, feminist issues have garnered a lot of media attention, with one recent major case being that of Brock Turner, the young Stanford athlete who was only sentenced to three months in jail, with possible early release, after admitting to raping an unconscious girl.  This sparked outrage throughout the social media world, and even led to trending topics, and memes regarding feminism.  Powerful women have been attracting attention the issue, such as Malala Yousafzai after being shot in the head for fighting the taliban over education issues in Pakistan, Angelia Jolie in her humanity works both at home and abroad and Emma Watson with her partnership with He For She, an organization encourageing men to label themselves as feminists, as well. </p>
            <a class="font5"href="">Click for more information!</a>
          </div>
          <div class="col-md-4 moveimageup">
            <img src="https://66.media.tumblr.com/6c16d276fffe8066859dfbfe52179033/tumblr_nxd2b6n3j61qb6v6ro1_500.gif"/>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
