

<!DOCTYPE html>
<html>

  <head>
		<meta charset="UTF-8">
    <title>
      T.A.M.Z Travel Guides
    </title>

    <link rel="stylesheet" type="text/css" href="/css/stylecss.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
              <h1>T.A.M.Z Travel</h1>
          </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <br>
    <br>

    <!-- <div class="wrap_the_wrapper2" style="height: 500px;"> -->
      <!-- <div class="wrapper2"> -->
      <div class="row">
        <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
              <h3>Where are you?</h3>
            <form method="POST" action="/location">
              <select class="dropdown-menus form-control" name="location">
                <option value="location">Location</option>
                <option value="NYC">New York City, New York, USA</option>
                <option value="LA">Los Angeles, California, USA</option>
                <option value="Paris">Paris, France</option>
                <option value="London">London, England</option>
              </select>

              <h3> Which season are you visiting in? </h3>

              <select class="dropdown-menus form-control" name="season">
                <option value="season">Season</option>
                <option value="summer">Summer</option>
                <option value="autumn">Autumn</option>
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
              </select>

            <br>
            <br>

            <div>
              <input id="final-button-stuff" class="btn btn-primary" type="submit" value="Submit">
          </div>
        <div class="col-md-4"></div>
      </div>
    </div>


        </div>
      </form>
      </div>
    </div>
  </body>

</html>
