<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LadyLike</title>
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAQEBAA0NDQAICAgADg4OAAUFBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAUAAAAAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAEAAAEAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+fwAA/n8AAPgfAAD4HwAA/n8AAP5/AAD8PwAA+B8AAPGPAADzzwAA888AAPPPAADxjwAA+B8AAPw/AAD//wAA" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <script type="text/javascript" href="script.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->



  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <center><img class="moveimagedownandleft" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12686956,width%3D178,height%3D178.png">
        </center></div>
        <div class="col-md-8">
          <center><p class="font8 text-center movetextdown"><a href="/"></a>LADYLIKE</p></center>
        </div>
        <div class="col-md-2">
          <center><img class="moveimagedownandright" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12686956,width%3D178,height%3D178.png">
        </center></div>
      </div>
    </div>
    <hr class=hr>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 text-center">
        <p class="font5 text-center">Hello! Welcome to <i>LadyLike</i>, where we're redefining what it means to be a lady.<br>What's your name?</p>
        <br><form class="input-field" action="/mainpage" class="font5 text-center" method="post">
          <label for="name" class="font5">Enter your name</label>
          <input type="text" name="name"><br>
          <button class="btn waves-effect waves-light black" type="submit" name="action">Continue
            <i class="material-icons right">play_arrow</i>
          </button>
          <!-- <a class="waves-effect waves-light btn" type="submit"><i class="material-icons right">play_arrow</i>continue</a> -->
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>

  </body>
</html>
