<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gift Guru</title>
  </head>
  <body>


    <h1>Events</h1>
      <button type="button"> Click Me!</button>

    <h2>Age</h2>
      <button type="button"> Click Me!</button>

    <h3>Gender</h3>
      <button type="button"> Click Me!</button>

    <h4>Budget</h4>
      <button type="button"> Click Me!</button>


  </body>
</html> -->
