<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You should pack:</h1>
    <h2><%=@packing_list%></h2>
    <h1>Travel tips:</h1>
    <h2><%=@travel_tips%></h2>
    <h1>Weather during diferent seasons:</h1>
    <h2><ul><%=@weather%></ul></h2>
  </body>
</html>
