<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img class="moveimagedownandleft" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12686956,width%3D178,height%3D178.png">
          </div>
          <div class="col-md-8">
            <p class="text-center font movetextdown movethedangtitletothecenter">LadyLike</p>
          </div>
          <div class="col-md-2">
            <img class="moveimagedownandright" src="https://image.spreadshirtmedia.com/image-server/v1/designs/12686956,width%3D178,height%3D178.png">
          </div>
        </div>
        <hr class=hr>
        <div class="row">
          <div class="col-md-3">
            <p class="text-center btn-default font2">
            <a href="/about">About</p>
          </div>
          <div class="col-md-3">
            <p class="text-center btn-default font2">
            <a href="/news">News</p>
          </div>
          <div class="col-md-3">
            <p class="text-center btn-default font2">
            <a href="/culture">Culture</p>
          </div>
          <div class="col-md-3">
            <p class="text-center btn-default font2">
            <a href="/icons">Icons</p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <p class="text-center font2 movetextdown3">Hello, <%=@name%>! Welcome to LadyLike!</p>
          </div>
          <div class="col-md-2">
          </div>
        </div>


      </div>

  </body>
</html>
