<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results</title>
  </head>
  <body>

    <%@nytfullarray.each do |article|%>
    <h1><%=article[0]%></h1>
    <br>
    <%end%>
    
    <%@guardianfullarray.each do |article|%>

      <h1><%=article[0]%></h1>
      <br>
    <%end%>
  </body>
</html>
