@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body {
    background-image: url("/images/golddots.jpg");
    background-size: repeat;
    font-family: 'Amatic SC', cursive;
    color: black;
}
